

html, body{
    height: 100%;
    margin: 0;
}


#fractalInput{
    width: 100%;
    height: 80%
}

#fractalOutputHolder{
    height: 100%;
    position: relative;
}

#fractalOutput{
    height: 100%;
    display:block;
    margin:auto;
}

#renderButton{
    margin: 5px;
}

#renderSpinner{
    position: absolute;
    z-index: 99;
    top: 40%;
    left: 40%; 
    
}